body{
margin:0;
font-family:Arial;
}

.cen{
width:100vw;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

#inp{
width:260px;
height:50px;
font-size:22px;
text-align:right;
margin-bottom:15px;
padding:5px;
}

#main{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:8px;
}

.btn{
border:1px solid gray;
border-radius:50px;
width:60px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
font-size:18px;
}

.btn:hover{
background:#f2f2f2;
}